<%= simple_form_for(@objective_result) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :objective %>
    <%= f.association :assessment %>
    <%= f.association :student %>
    <%= f.association :mastery_category %>
    <%= f.input :score %>
    <%= f.input :comment %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
