<%= simple_form_for(@assignment) do |f| %>
  <% if params[:task_id] 
       @assignment.task_id = params[:task_id]
     end
  %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :task_id, :as => :hidden, :input_html => { :value => @assignment.task_id } %>
    <%= f.input :due_date %>
    <%= f.input :description %>
    <%= f.input :category %>

    <%= select("m", "cids", Course.all.collect {|c| [ c.full_name, c.id ] }, {}, {:multiple => true, :size => 5, :selected => @assignment.course_id }) %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
