<h1>Assignments for <%= @course.full_name %></h1>

<%= render 'assignments/assignments_list', {:assignments => @assignments} %>

<!--
<table class="table">
  <tr>
    <th>Category</th>
    <th>Task</th>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assignments.each do |assignment| %>
  <tr>
    <td><%= assignment.category %></td>
    <td><%= assignment.task.title if assignment.task%></td>
    <td><%= assignment.task.title if assignment.task.title%></td>
    <td><%= assignment.description %></td>
    <td><%= link_to 'Show', assignment %></td>
    <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
    <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Assignment', new_assignment_path %>
-->
