<% if is_admin %>
<div class="tabbable">
  <ul class="nav nav-pills nav-stacked" style="position: fixed; left:80px;">
    <li class="active"><a href="#adminpane1" data-toggle="tab">View Assignment</a></li>
    <li><a href="#adminpane2" data-toggle="tab">View class solutions</a></li>

  </ul>
</div><div class="span9">
  <div class="tab-content">
    <div id="adminpane1" class="tab-pane active">
<% end %>

<!-- NON-ADMIN VIEW STARTS HERE -->
<p>
  <b>Title:</b>
  <%= @assignment.task.title %>
</p>

<p>
  <b>Assignment instructions:</b>
  <%= @assignment.description %>
</p>

<p>
  <b>Task</b>
  <%= render 'tasks/show_task_for_assignment', :task => @assignment.task %>
</p>

<div class="tabbable">
  <ul class="nav nav-pills">
    <li class="active"><a href="#pane3" data-toggle="tab">Assessment Criteria</a></li>
    <li><a href="#pane1" data-toggle="tab">Submit new solution</a></li>

    <% if !@user.assignment_solution(@assignment.id).nil? %>
    <li><a href="#pane4" data-toggle="tab">View current solution</a></li>
    <% end %>

    <% if (@old_solutions && @old_solutions.size() > 0) %>
      <li><a href="#pane2" data-toggle="tab">View unsubmitted code</a></li>
    <% end %>

  </ul>
  <div class="tab-content">
    <div id="pane3" class="tab-pane active">
      <%= render 'objectives_list', :assignment => @assignment %>
    </div>

    <% if !@user.assignment_solution(@assignment.id).nil? %>
    <div id="pane4" class="tab-pane">
      <%= render 'completed_assignments/show_current', :completed_assignment => @user.assignment_solution(@assignment.id) %>
    </div>
    <% end %>

    <div id="pane1" class="tab-pane">
      <h4>New Solution</h4>
        <%= render 'completed_tasks/form' %>
    </div>

<% if (@old_solutions && @old_solutions.size() > 0) %>
    <div id="pane2" class="tab-pane">
    <h4>Your existing solutions</h4>
      <%= render 'completed_tasks/completed_tasks_list_with_assignment', :completed_tasks => @old_solutions, :assignment => @assignment %>
    </div>
<% end %>

  </div><!-- /.tab-content -->
</div><!-- /.tabbable -->

<!-- NON-ADMIN VIEW ENDS HERE -->

<% if is_admin %>
    </div>

    <div id="adminpane2" class="tab-pane">
    <h4>Class Solutions</h4>
      <%= render 'solutions_list', {:assignment => @assignment} %>
    </div>
  </div><!-- /.tab-content -->
</div><!-- /.tabbable -->

<% end %>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
