<% if is_admin %>
    <%= link_to "Create assignment", new_assignment_path(:task_id => task.id) , class: "btn pull-right" %>
<% end %>

<h2><%= task.title %></h2>
<p>
  <em><%= task.short_description %></em>
  <span style="float: right">Difficulty: <%= task.difficulty %></span>
</p>

<pre>

    <%= raw addPrettifyTags(task.long_description) %>

</pre>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#pane1" data-toggle="tab">Submit new solution</a></li>

    <% if (@old_solutions && @old_solutions.size() > 0) %>
    <li><a href="#pane2" data-toggle="tab">View your old solutions</a></li>
    <% end %>

  </ul>
  <div class="tab-content">
    <div id="pane1" class="tab-pane active">
      <h4>New Solution</h4>
        <%= render 'completed_tasks/form' %>
    </div>

<% if (@old_solutions && @old_solutions.size() > 0) %>
    <div id="pane2" class="tab-pane">
    <h4>Your existing solutions</h4>
      <% if @assignment.nil? %>
        <%= render 'completed_tasks/completed_tasks_list', :completed_tasks => @old_solutions %>
      <% else %>
        <%= render 'completed_tasks/completed_tasks_list_with_assignment', :completed_tasks => @old_solutions %>
      <% end %>
    </div>
<% end %>

  </div><!-- /.tab-content -->
</div><!-- /.tabbable -->

<% if is_admin %>
  <%= link_to 'Edit', edit_task_path(task) %> |
<% end %>

<script>
  prettyPrint()
</script>
