<h1>Search for a problem</h1>

<%= search_form_for @q, url: search_tasks_path do |f| %>
<div class="row">

   <div class="span6">
  <div class="field">
    <%= f.label :title_cont, "Name contains" %>
    <%= f.text_field :title_cont %>
  </div>

  <div class="field">
    <%= f.label :difficulty_gteq, "Difficulty  between" %>
    <%= f.text_field :difficulty_gteq %>

    <%= f.label :difficulty_lteq, "and" %>
    <%= f.text_field :difficulty_lteq %>    
  </div>

  </div>

   <div class="span6">
     <% @tags.each do |tag| %>

     <span class="tag_checkbox">
       <% if (@q.tags_id_eq_any and @q.tags_id_eq_any.include? tag.id.to_i) %>
       <%=  check_box_tag('q[tags_id_eq_any][]', tag.id, true) %>
       <%  else %>
       <%=  check_box_tag('q[tags_id_eq_any][]', tag.id, false) %>
       <% end %>
       <label> <%= tag.name %> </label>
     </span>
     <% end %>     
   </div>
</div>
  <div class="actions pull-right"><%= f.submit "Search" %></div>
<% end %>

<table class="task_list">
  <tr>
    <th></th>
    <th><%= sort_link @q, :title, "Name" %></th>
    <th><%= sort_link @q, :difficulty, "Difficulty" %></th>
    <th>Tags</th>
  </tr>

<% @tasks.each do |task| %>
  <tr>

    <td>
<!--  <%= image_tag("flagged.png", :size => "13x16", :alt => "f") if (@flagged_tasks && (@flagged_tasks.include? task.id)) %>
      <%= image_tag("completed.png", :size => "16x16", :alt => "*") if (@solved_tasks && (@solved_tasks.include? task.id)) %>  -->
    </td>

    <td class="left"><%=link_to (h task.title), task %></td>
    <td><%=h task.difficulty %></td>
    <td>
      <% 	task.tags.each do |tag| %>
    	<%= 	link_to tag, (tag_path(tag) ) %>
    	<%	end %>
    </td>
    <td><%= rand 10 %></td>
   
  </tr>
<% end %>
</table>
