<h3>Grade view for <%= @user.name %></h3>

<p>
Total assignments: <%= @user.assignments.size() %><br />
Late assignments: <%= @user.late_completed_assignments.size() %><br />
On time assignments: <%= @user.on_time_completed_assignments.size() %><br />
Missing assignments: <%= @user.assignments_missing.size() %><br />
</p>

Overall rubric averages:
<table class="table">
  <tr><td>Mastery Category</td><td>Average score</td></tr>
<% MasteryCategory.all.each do |category| %>
  <tr>
    <td>
      <%= category.name %>
    </td>
    <td>
      <%= @user.mastery_category_score(category.id) %>
    </td>
  </tr>
<% end %>
</table>

<!--
    <div class="progress">
    <div class="bar" style="width: 60%;"></div>
    </div>
-->
