<h1>Calendar for <%= @course.full_name %></h1>

    <%= link_to "Create Entry", new_calendar_entry_path() , class: "btn pull-right" if is_admin %>

<table class="table">
  <tr>
    <th>Date</th>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @calendar_entries.each do |calendar_entry| %>
  <tr>
    <td><%= calendar_entry.date %></td>
    <td><%= calendar_entry.title %></td>
    <td><%= calendar_entry.body.html_safe %></td>
    <td><%= link_to 'Edit', edit_calendar_entry_path(calendar_entry) if is_admin %></td>
    <td><%= link_to 'Destroy', calendar_entry, method: :delete, data: { confirm: 'Are you sure?' } if is_admin %></td>
  </tr>
<% end %>
</table>

<br />
