<div class="btn pull-right" id="expandall">expand all</div>

<% 
     @current = current_user.assignment_solution(@assignment.id)

    if @current
      button_text = "Re-submit as assignment solution"
    else
      button_text = "Submit as assignment solution"
    end

%>

<% @completed_assignment ||= CompletedAssignment.new %>
<%= form_for @completed_assignment do |f| %>
<%= hidden_field_tag('assignment_id', @assignment.id ) %>
<table class="table">
  <tr>
    <th>Date of submission</th>
    <th>Solution</th>
  </tr>

  <% completed_tasks.each do |completed_task| %>
  <% if @current && (completed_task.id == @current.completed_task_id) %>
    <tr style="background-color: #9FC263;">
  <% else %>
    <tr>
  <% end %>
    <td><%= completed_task.created_at %></td>

    <td>
      <% if @current && (completed_task.id == @current.completed_task_id) %>
        <span class="pull-right">Currently submitted assignment</span>
      <% else %>
        <button name="completed_task" value="<%= completed_task.id %>" type="submit" class="btn pull-right"> <%= button_text %></button>
      <% end %>

	<div class="expand_target">
	  show your solution
	</div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
      <div class="expandable">
	  <pre>
	    <%= addPrettifyTags("<code>" + completed_task.solution + "</code>").html_safe %>
	  </pre>
	</div>
    </td>
  </tr>
  <% end %>
</table>

<% end %>

<script>
  prettyPrint()
</script>
