<%= simple_form_for(@completed_task) do |f| %>
  <%= f.error_notification %>
  
  <div class="form-inputs">
    Your solution for: <%= @task.short_description %>     <span class="pull-right">Revisions: <%= @revisions %></span>
    <%= f.input :user_id, :as => :hidden, :input_html => { :value => @user.id } %>
    <%= f.input :task_id, :as => :hidden, :input_html => { :value => @task.id } %>
    <br />
    <%= f.text_area :solution %>
    <br />
  </div>

  <div class="form-actions">
    <% if @assignment %>
      <%= f.submit 'Save and Submit' %>
      <%= f.submit 'Save ONLY' %>
      <%= hidden_field_tag('assignment_id', @assignment.id ) %>
    <% else %>
      <%= f.button :submit, 'Save' %>
    <% end %>
  </div>
<% end %>
  
