<% if user_signed_in? %>
  <%= link_to current_user.name, root_path, :class => 'brand' %>
<% else %>
  <%= link_to "Wombat", root_path, :class => 'brand' %>
<% end %>

<ul class="nav">
  <li class="dropdown">  
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">  
      Learn
      <b class="caret"></b>  
    </a>
    <ul class="dropdown-menu">  
      <li>
	<%= link_to 'Examples', page_path("examples/index") %>
      </li>  
      <li>
	<%= link_to 'Tutorials', page_path("tutorials/index") %>
      </li>
      <li>
	<%= link_to 'Project Ideas', page_path("projects/index") %>
      </li>
    </ul>  
  </li>
  
  <li>
    <%= link_to 'Problems', '/tasks/' %>
  </li>

  <li>
    <%= link_to 'Other resources', '/pages/resources' %>
  </li>
</ul>

<ul class="nav pull-right">
  <% if user_signed_in? %>
    <li>
    <% # link_to 'Edit Account', edit_user_path(@user) %>
    </li>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Login', new_user_session_path %>
    </li>
  <% end %>

  <% if !user_signed_in? %>
    <li>
    <%= link_to 'Sign up', new_user_registration_path %>
    </li>
  <% end %>

</ul>
