<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Wombat" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Wombat" %>">
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    
    <div class="mainnav navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </div>
    
    <% if user_signed_in? %>
    <% if current_user.has_role? :admin %>
    <div class="subnav navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
	  <%= render 'layouts/admin_navigation' %>
        </div>
      </nav>
    </div>
    <% end %>
    <% end %>
    
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
